html { 
  background: url("../images/web_0201-min.png"); 
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  html { 
    background: url("../images/web_0202-min.png"); 
    background-size: cover;
  }
}

.topnav {
  background-color: #333;
  display: block;
  overflow: hidden;
}


img {
  width: 140px;
  height: 100px;
  float: left;
}

.header-util {
  float: right
}