html { 
  background: url("../images/web_0201-min.png"); 
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  html { 
    background: url("../images/web_0202-min.png"); 
    background-size: cover;
  }
}

.logo {
  width: 10px;
  height: 10px;
  float: left;
}

.header-util {
  float: right
}